html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.container {
  width: 96rem;
  margin: auto;
}

.h1 {
  font-size: 3rem;
}

.navigatie {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.itemNav {
  margin-right: 1rem;
}

.images {
  display: none;
}
